<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>PlayDot</title>
</head>
<body>
    <textarea id="txt-board" cols="100" rows="20"></textarea><br>
    <label for="select_player">Select Player:</label>
    <select id="select_player">
        <option value="X">X</value>
        <option value="O">O</value>
    </select><br>
    <input id="player-input" type="text" size="100"><br>
    <input id="player-input-submit" type="button" value="Send">
    {{ board_data|json_script:"board-data" }}
    <script src="{% static 'playdot/js/board.js' %}"></script>
</body>
</html>
