<!-- playdot/templates/playdot/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>PlayDot Games</title>
</head>
<body>
    <input id="create-new-game" type="button" value="New Game">
    <input id="create-new-sp-game" type="button" value="New Single Player Game">
    <script src="{% static 'playdot/js/index.js' %}"></script>
    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
</body>
</html>
